<app-menu></app-menu>

<section class ="heading">

    <span class='page-title font-weight-bold font-italic'>[{{title}}]</span>
   <a routerLink='/user/create'>
    <img width='20' height='20' 
    src='assets/add-icon.png' title='Add New'>
 </a>
    

</section>

<table *ngIf="users" class="table table-sm table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>User Name</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Reviewer</th>
            <th>Admin</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{ user.id }}</td>
            <td>{{ user.userName }}</td>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.phoneNumber }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.reviewer }}</td>
            <td>{{ user.admin }}</td>
        
                <a routerLink='/user/detail/{{user.id}}'>
                    <img width='20' height='20' src='assets/details.png' title='User Details'>
                </a> | 
                <a routerLink='/user/edit/{{user.id}}'>
                    <img width='20' height='20' src='assets/pencil-icon.png' title='Edit User'>
                </a>

        </tr> 
    </tbody>
</table>