<app-menu></app-menu>

<span class="page-title font-weight-bold font-italic">[{{title}}]</span>
<table *ngIf="requests" class="table table-sm table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>User</th>
            <th>Description</th>
            <th>Status</th>
            <th>Total</th>
            <th>Submitted Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let request of requests">
            <td>{{ request.id }}</td>
            <td>{{ request.user.userName }}</td>
            <td>{{ request.description }}</td>
            <td>{{ request.status }}</td>
            <td>{{ request.total }}</td>
            <td>{{ request.submittedDate }}</td>
            <td>
                <a routerLink='/request/approve/{{request.id}}'>
                    <img width='30' height='30' src='assets/review.png' title='Approve/Reject'>
                </a>
            </td>
        </tr>
    </tbody>
</table>